
body, h1, h2, h3, h4, h5, p, text {
    /*font-family:"nyt-cheltenham",georgia,"times new roman",times,serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
text {
    /* font-family: nyt-franklin,arial,helvetica,sans-serif;*/
}

path {
    stroke-width: 1px;
    fill: #f5f5f3;
    stroke: #C0C0C0;
}

text {
    font-size: 12px;
}

p {
    font-size: 14px;
    color: #666;
}

@keyframes dash {
  to {
    stroke-width: 16px;
  }
}


/* Page template*/
.navbar {
    background: #009688;
    border-radius: 0;
}
nav a.navbar-brand {
       color: white !important;
}

div.tooltipMap {
    position: absolute;
    text-align: center;
    width: 140px;
    height: 22px;
    padding: 2px;
    font: 12px sans-serif;
    border: 2px solid;
    border-color: lightsteelblue;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    pointer-events: none;
}



div.tooltipCrimeSelected, div.tooltipCrime {
    position: absolute;
    text-align: left;
    width: 240px;
    height: 100px;
    padding: 2px;
    left: 40px;
    top: 200px;
    font: 12px sans-serif;
    border-radius: 5px;
    pointer-events: none;
}

div.map {
    /*//background-color: #f2f6f9;*/
    position: relative;
    padding: 60px 60px 0 40px;
    background: #cdd2d4;
}

/*div.select {
    position: absolute;
    top: 40px;
    right: 10px;
}
div.selectYear {
    position: absolute;
    top: 0px;
    right: 10px;
}*/
div.filters {
    position: absolute;
    top: 40px;
    right: 10px;
}
.crimeNumber {
    font-weight: 800;
}
path.crime {
    fill: white;
  /*  stroke: #cf9950*/
  stroke: grey;
}

path.crime.selected {
    stroke: #3e598b;
    stroke-width: 20px;
    animation: dash 2s ease alternate infinite;
    cursor: pointer;
}

.bar {
    fill: steelblue;
}

.barplot {
    display: block;
    margin: auto;
    right:0px;
/*    background: #f2f6f9;*/
    padding: 0 60px 0 40px;
}

div.tooltipBar {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 22px;
    padding: 2px;
    font: 12px sans-serif;
    border: 2px solid;
    border-color: lightsteelblue;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    pointer-events: none;
}


select {
    border: none !important;
    background: none !important;
    font-size: 14px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    border-bottom: 2px solid rgba(0,0,0,0.77) !important;
}
